body {
    background-image: url(../images/sasha-matic-TEpJdLB8j8U-unsplash.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
    background: whitesmoke;
    padding: 5rem;
    border-radius: 10px;
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
}

.heading {
    color: rebeccapurple;
}

.nav-links {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: black;
}